* {
    margin: 0;
    padding: 0;
}
/*
.background-image {
    background-image: url(/images/banner.jpg);
    background-size: cover;
    display: block;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    height: 800px;
    left: 0;
    position: fixed;
    right: 0;
    z-index: -1;
}*/

/*ul.navigation {
    text-align: center;
}

#form {
    position: relative;
    font-size: 1.2rem;
    margin: auto;
    width: 50%;
    padding: 10rem;
}

#form input {
    position: relative;
}*/

/*img {
    width: 25rem;
    height: auto;
}*/

/*
.cart table {
    text-align: center;
    border: 1px solid white;
    border-collapse: collapse;

}

.cart table tbody {
    border: 1px solid white;
}*/
