extends layout.pug

block header
   meta(charset='utf-8')
   meta(name="viewport" content="width=device-width, initial-scale=1")
   link(rel='stylesheet', type='text/css', href='/css/uikit.min.css')
   script(src="js/uikit.min.js")
   script(src="js/uikit-icons.min.js")
   script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
