doctype html
html
   head
      title Vincent's Bar
      block header
         meta(charset='utf-8')
         meta(name="viewport" content="width=device-width, initial-scale=1")
         link(rel='stylesheet', type='text/css', href='/css/style.css')
   body
      block navigation
         ul
            li
               a(href="/") Home
            li
               a(href="/menu") Menu 
            li
               a(href="/") Contact Us
            li
               a(href="/about") About Us
      .slideshow
         img(src='./images/ss1')
         img(src='./images/ss1')
         img(src='./images/ss1')
      block content
      block footer
         .findUs
            h2 Where to find us
            p address
         .footer
      script.
