doctype html
html
    head
        title Vincent's Bar
        block header
            meta(charset='utf-8')
            meta(name="viewport" content="width=device-width, initial-scale=1")
            link(rel='stylesheet', type='text/css', href='css/style.css')
    body
        block index
            ul.navigation
                li
                    a(href="/") Home
                li
                    a(href="#menu") Menu 
                if !user
                    li
                        a(href='/register') Sign Up
                else 
                    li
                        a(href='/logout') Logout
                li
                    a(href="/myCart") Cart 
                        if cart 
                            span (#{Object.keys(cart).length})
                        else 
                            span (0)
                    br
                    a(href='/clearCart') Clear
                    - for (var item in cart)
                        li #{cart[item].name}
        if message
            h3 Error: <em>#{message}</em>
        br
        block content
        br
        block footer
            .findUs
                h2 Where to find us
                p address
            .footer
        script.
