extends layout.pug

block content
    .cart
        table
            thead.thead-dark
                tr(style='font-size:20px')
                    th No. of Items
                    th Items
                    th Price
            tbody
                if cart
                    each entry in cart
                        tr.table-active
                            td 
                                p X #{entry.count}
                            td 
                                p #{entry.name}
                            td
                                button(type='button')
                                    span(position='absolute') ×
                                p #{entry.body}
                
                tr
                    th
                        form(action='' method='POST')
                        input(type='submit' value='Checkout')
                        
